body {
	margin: 0px;
	font-family: sans-serif, serif;
}

.container {
	margin-left: 20%;
	margin-right: 20%;
}

h1 {
	font-size: 45px;
	margin: 15px;
}

h2 {
	font-size: 35px;
	margin: 10px;
}

h3 {
	font-size: 30px;
	margin: 5px;
}
